<div class="inquiry_header">
    <div class="left fixed"><h3 id="lh">684路</h3></div>
    <div class="inner"><h2 id="lm">宋家庄枢纽站-惠新东桥西</h2>
        <article><p>左安门内&nbsp;5:30-22:00&nbsp;分段计价&nbsp;所属客三分公司</p>
            <p>最近一辆车距离此还有&nbsp;1&nbsp;站，&nbsp;<span>1.96</span>&nbsp;公里，预计到站时间&nbsp;<span>3</span>&nbsp;分钟</p></article>
    </div>
</div>
<div id="cc_stop" class="inquiry_main" unselectable="on" onselectstart="return false;">
    <ul class="fixed">
        <li>
            <div id="1"><i></i>
                <p class="sicon"></p><span title="宋家庄枢纽站">宋家庄枢纽站</span></div>
        </li>
        <li>
            <div id="2m"><i></i></div>
        </li>
        <li>
            <div id="2"><i></i>
                <p class="sicon"></p><span title="宋家庄">宋家庄</span></div>
        </li>
        <li>
            <div id="3m"><i></i></div>
        </li>
        <li>
            <div id="3"><i></i>
                <p class="sicon"></p><span title="南窑">南窑</span></div>
        </li>
        <li>
            <div id="4m"><i></i></div>
        </li>
        <li>
            <div id="4"><i></i>
                <p class="sicon"></p><span title="政馨园小区">政馨园小区</span></div>
        </li>
        <li>
            <div id="5m"><i></i></div>
        </li>
        <li>
            <div id="5"><i></i>
                <p class="sicon"></p><span title="铜厂">铜厂</span></div>
        </li>
        <li>
            <div id="6m"><i></i></div>
        </li>
        <li>
            <div id="6"><i></i>
                <p class="sicon"></p><span title="方庄南路南口">方庄南路南口</span></div>
        </li>
        <li>
            <div id="7m"><i></i></div>
        </li>
        <li>
            <div id="7"><i></i>
                <p class="sicon"></p><span title="方庄桥南">方庄桥南</span></div>
        </li>
        <li>
            <div id="8m"><i></i></div>
        </li>
        <li>
            <div id="8"><i></i>
                <p class="sicon"></p><span title="方庄桥北">方庄桥北</span></div>
        </li>
        <li>
            <div id="9m"><i class="busc" clstag="1955"></i></div>
        </li>
        <li>
            <div id="9"><i></i>
                <p class="sicon"></p><span title="左安门外">左安门外</span></div>
        </li>
        <li>
            <div id="10m"><i></i></div>
        </li>
        <li>
            <div id="10"><i></i>
                <p class="sicon"></p><span title="左安门内" style="font-size: 16px;font-weight:700;">左安门内</span></div>
        </li>
        <li>
            <div id="11m"><i></i></div>
        </li>
        <li>
            <div id="11"><i></i>
                <p class="sicon"></p><span title="龙潭湖游泳池">龙潭湖游泳池</span></div>
        </li>
        <li>
            <div id="12m"><i></i></div>
        </li>
        <li>
            <div id="12"><i></i>
                <p class="sicon"></p><span title="龙潭公园">龙潭公园</span></div>
        </li>
        <li>
            <div id="13m"><i></i></div>
        </li>
        <li>
            <div id="13"><i></i>
                <p class="sicon"></p><span title="龙潭路西口">龙潭路西口</span></div>
        </li>
        <li>
            <div id="14m"><i></i></div>
        </li>
        <li>
            <div id="14"><i></i>
                <p class="sicon"></p><span title="法华寺">法华寺</span></div>
        </li>
        <li>
            <div id="15m"><i></i></div>
        </li>
        <li>
            <div id="15"><i></i>
                <p class="sicon"></p><span title="红桥路口北">红桥路口北</span></div>
        </li>
        <li>
            <div id="16m"><i></i></div>
        </li>
        <li>
            <div id="16"><i></i>
                <p class="sicon"></p><span title="磁器口北">磁器口北</span></div>
        </li>
        <li>
            <div id="17m"><i></i></div>
        </li>
        <li>
            <div id="17"><i></i>
                <p class="sicon"></p><span title="花市路口南">花市路口南</span></div>
        </li>
        <li>
            <div id="18m"><i></i></div>
        </li>
        <li>
            <div id="18"><i></i>
                <p class="sicon"></p><span title="崇文门内">崇文门内</span></div>
        </li>
        <li>
            <div id="19m"><i></i></div>
        </li>
        <li>
            <div id="19"><i></i>
                <p class="sicon"></p><span title="东单路口南">东单路口南</span></div>
        </li>
        <li>
            <div id="20m"><i></i></div>
        </li>
        <li>
            <div id="20"><i></i>
                <p class="sicon"></p><span title="东单路口北">东单路口北</span></div>
        </li>
        <li>
            <div id="21m"><i></i></div>
        </li>
        <li>
            <div id="21"><i></i>
                <p class="sicon"></p><span title="米市大街">米市大街</span></div>
        </li>
        <li>
            <div id="22m"><i></i></div>
        </li>
        <li>
            <div id="22"><i></i>
                <p class="sicon"></p><span title="灯市东口">灯市东口</span></div>
        </li>
        <li>
            <div id="23m"><i></i></div>
        </li>
        <li>
            <div id="23"><i></i>
                <p class="sicon"></p><span title="东四路口南">东四路口南</span></div>
        </li>
        <li>
            <div id="24m"><i></i></div>
        </li>
        <li>
            <div id="24"><i class="buss" clstag="-1"></i>
                <p class="sicon"></p><span title="钱粮胡同">钱粮胡同</span></div>
        </li>
        <li>
            <div id="25m"><i></i></div>
        </li>
        <li>
            <div id="25"><i></i>
                <p class="sicon"></p><span title="魏家胡同">魏家胡同</span></div>
        </li>
        <li>
            <div id="26m"><i></i></div>
        </li>
        <li>
            <div id="26"><i></i>
                <p class="sicon"></p><span title="东四十二条">东四十二条</span></div>
        </li>
        <li>
            <div id="27m"><i></i></div>
        </li>
        <li>
            <div id="27"><i></i>
                <p class="sicon"></p><span title="北新桥路口南">北新桥路口南</span></div>
        </li>
        <li>
            <div id="28m"><i></i></div>
        </li>
        <li>
            <div id="28"><i></i>
                <p class="sicon"></p><span title="北新桥路口北">北新桥路口北</span></div>
        </li>
        <li>
            <div id="29m"><i></i></div>
        </li>
        <li>
            <div id="29"><i></i>
                <p class="sicon"></p><span title="国子监">国子监</span></div>
        </li>
        <li>
            <div id="30m"><i></i></div>
        </li>
        <li>
            <div id="30"><i></i>
                <p class="sicon"></p><span title="雍和宫桥东">雍和宫桥东</span></div>
        </li>
        <li>
            <div id="31m"><i></i></div>
        </li>
        <li>
            <div id="31"><i></i>
                <p class="sicon"></p><span title="北小街豁口">北小街豁口</span></div>
        </li>
        <li>
            <div id="32m"><i></i></div>
        </li>
        <li>
            <div id="32"><i></i>
                <p class="sicon"></p><span title="和平里南口">和平里南口</span></div>
        </li>
        <li>
            <div id="33m"><i></i></div>
        </li>
        <li>
            <div id="33"><i></i>
                <p class="sicon"></p><span title="和平里路口北">和平里路口北</span></div>
        </li>
        <li>
            <div id="34m"><i class="busc" clstag=""></i></div>
        </li>
        <li>
            <div id="34"><i></i>
                <p class="sicon"></p><span title="和平里东街">和平里东街</span></div>
        </li>
        <li>
            <div id="35m"><i></i></div>
        </li>
        <li>
            <div id="35"><i></i>
                <p class="sicon"></p><span title="和平东桥南">和平东桥南</span></div>
        </li>
        <li>
            <div id="36m"><i></i></div>
        </li>
        <li>
            <div id="36"><i></i>
                <p class="sicon"></p><span title="和平东桥北">和平东桥北</span></div>
        </li>
        <li>
            <div id="37m"><i></i></div>
        </li>
        <li>
            <div id="37"><i></i>
                <p class="sicon"></p><span title="中日医院">中日医院</span></div>
        </li>
        <li>
            <div id="38m"><i></i></div>
        </li>
        <li>
            <div id="38"><i></i>
                <p class="sicon"></p><span title="对外经贸大学">对外经贸大学</span></div>
        </li>
        <li>
            <div id="39m"><i></i></div>
        </li>
        <li>
            <div id="39"><i></i>
                <p class="sicon"></p><span title="惠新里">惠新里</span></div>
        </li>
        <li>
            <div id="40m"><i class="busc" clstag=""></i></div>
        </li>
        <li>
            <div id="40"><i></i>
                <p class="sicon"></p><span title="惠新西街北口">惠新西街北口</span></div>
        </li>
        <li>
            <div id="41m"><i></i></div>
        </li>
        <li>
            <div id="41"><i></i>
                <p class="sicon"></p><span title="惠新东桥西">惠新东桥西</span></div>
        </li>
    </ul>
</div>
<div class="inquiry_footer">
    <section>
        <div class="inner"><span class="buss">途中车辆</span><span class="busc">到站车辆</span></div>
    </section>
</div>