<template>
	<div>
		<form>
			<div class="row mt-3">
				<div class="col input-group input-group-lg">
					<div class="input-group-prepend">
						<label class="input-group-text" for="countdownCode">选择</label>
					</div>
					<select class="custom-select" id="countdownCode" v-model="countdownCode">
						<option v-for="(option,key) in countdownOptions" :value="key">{{option}}</option>
					</select>
				</div>
			</div>
			<div class="form-row mt-3">
				<div class="col input-group input-group-lg">
					<div class="input-group-prepend">
						<label class="input-group-text" for="countdownTime">输入时间</label>
					</div>
					<input type="number" class="form-control" id="countdownTime" v-model="countdownSeconds" />
					<div class="input-group-append">
						<span class="input-group-text" id="countdownTimeUnit">秒</span>
					</div>
				</div>
			</div>
			<div class="form-row mt-3">
				<div class="col text-center">
					<button type="reset" class="btn btn-secondary btn-lg btn-block">重置</button>
				</div>
				<div class="col text-center">
					<button type="submit" class="btn btn-primary btn-lg btn-block" v-on:click="sendCountDown();return false;">提交</button>
				</div>
			</div>
			<div class="form-row mt-3">
				<div class="col text-center">
					<button type="button" class="btn btn-outline-dark" v-on:click="countdownSeconds = parseInt(countdownSeconds) - 60;if (countdownSeconds < 0) countdownSeconds = 0">-</button>
				</div>
				<div class="col text-center">
					<button type="button" class="btn btn-outline-dark" v-on:click="countdownSeconds = 300">5</button>
				</div>
				<div class="col text-center">
					<button type="button" class="btn btn-outline-dark" v-on:click="countdownSeconds = 900">15</button>
				</div>
				<div class="col text-center">
					<button type="button" class="btn btn-outline-dark" v-on:click="countdownSeconds = 1800">30</button>
				</div>
				<div class="col text-center">
					<button type="button" class="btn btn-outline-dark" v-on:click="countdownSeconds = parseInt(countdownSeconds) + 60">+</button>
				</div>
			</div>
		</form>
		<div class="row mt-3">
			<div class="col text-center">
				<button type="button" class="btn btn-dark" v-on:click="sendCountDown(true);return false;">停止当前倒计时</button>
			</div>
		</div>
		<div class="modal fade" id="resultModal" ref="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel"
		 aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="resultModalLabel">发送结果</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						{{resultModalMsg}}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary btn-block" data-dismiss="modal">OK</button>
					</div>
				</div>
			</div>
		</div>
		<div v-if="activeCountdowns.count">
			<div v-for="countdown,code in activeCountdowns.countdowns" class="row mt-3">
				<div class="col">
					<div class="countdown-title">{{countdowns[code].name}}</div>
					<div class="countdown-msg text-center" :class="'countdown-code-' + code">{{countdown}}</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import MQTTComponent from '../common/MqttComponent.vue'
	import Countdown from '../config/countdown.js'
	import CountdownComponent from '../common/Countdown.vue'
	const localstorage_key_last_countdown_seconds = 'last_countdown_seconds';
	export default {
		mixins: [MQTTComponent, CountdownComponent],
		mounted() {
			console.log('Countdown component mounted');
			let _this = this;
			_this.$localStorage.addProperty(localstorage_key_last_countdown_seconds, Number);
			_this.countdownSeconds = _this.$localStorage.get(localstorage_key_last_countdown_seconds);
			_this.checkCountDown();
			_this.countdownTimer = setInterval(() => {
				_this.checkCountDown();
			}, 200);
			_this.$once('hook:beforeDestroy', () => {
				if (_this.countdownTimer) {
					clearInterval(_this.countdownTimer);
					_this.countdownTimer = null;
				}
			});
			// _this.countdowns = Countdown.countdowns;
			// _this.countdownOptions = {};
			for (let code in _this.countdowns) {
				let countdown = _this.countdowns[code];
				_this.$set(_this.countdownOptions, code, countdown.name);
			}
			// console.log(_this.countdownOptions);
		},
		data() {
			return {
				countdownOptions: {},
				countdownCode: 'primary',
				countdownSeconds: 0,
				resultModalMsg: null,
			}
		},
		computed: {
			activeCountdowns: function() {
				let msgs = {
					countdowns: {},
					count: 0,
				};
				let _this = this;
				if (_this.countdown_msgs == null) {
					return msgs;
				}
				for (let code in _this.countdown_msgs) {
					if (_this.countdown_msgs[code] != null) {
						_this.$set(msgs.countdowns, code, _this.countdown_msgs[code]);
						msgs.count++;
					}
				}
				return msgs;
			}
		},
		methods: {
			sendCountDown: function(stop = false) {
				let _this = this;
				let code = this.countdownCode;
				// console.log(code);
				for (let index in _this.countdowns) {
					if (index == code) {
						let countdown = _this.countdowns[index];
						if (stop) {
							_this.sendMsg(countdown.topic.name, 'stop');
							_this.resultModalMsg = '倒计时已经停止';
						} else {
							let countdownSeconds = parseInt(_this.countdownSeconds);
							if (countdownSeconds == NaN || countdownSeconds == 0) {
								_this.resultModalMsg = '错误，时间不能为0或者空';
								return true;
							} else {
								_this.sendMsg(countdown.topic.name, countdownSeconds.toString());
								_this.$localStorage.set(localstorage_key_last_countdown_seconds, countdownSeconds);
								_this.resultModalMsg = '倒计时';
								if (countdownSeconds >= 60) {
									let mins = parseInt(countdownSeconds / 60);
									_this.resultModalMsg += mins + '分钟';
									let secs = countdownSeconds - mins * 60;
									if (secs > 0) {
										_this.resultModalMsg += secs + '秒';
									}
								} else {
									_this.resultModalMsg += countdownSeconds + '秒';
								}
								_this.resultModalMsg += '倒计时开始！';
							}
						}
						$('#resultModal').modal('show');
						break;
					}
				}
			}
		},
		beforeDestroy() {
			if (this.countdownTimer) {
				clearInterval(this.countdownTimer);
				this.countdownTimer = null;
			}
		},
	}
</script>

<style>
	.countdown-title {
		font-size: 1rem;
	}
	.countdown-msg {
		font-size: 1.5rem;
	}
	.countdown-code-primary {
		font-size: 2rem;
	}
</style>
