<template>
	<footer class="footer mt-auto fixed-bottom">
		<ul class="nav justify-content-center nav-pills nav-fill">
			<li class="nav-item">
				<router-link to='/home' class="nav-link">Home</router-link>
			</li>
			<li class="nav-item">
				<router-link to='/countdown' class="nav-link">倒计时</router-link>
			</li>
		</ul>
	</footer>
</template>

<script>
	import MQTTComponent from '../common/MqttComponent.vue'
	export default {
		mixins:[MQTTComponent],
	}
</script>

<style>
</style>
