// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
// Body
$body-bg: #FFF;
$body-color: #111;

// Typography
$font-family-sans-serif: '仿宋', sans-serif;
$font-size-base: 1.1rem;
$line-height-base: 1.4;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #b0b0b0;

$enable-shadows: true;
// Bootstrap
@import '~bootstrap/scss/bootstrap';

// @import 'node_modules/foundation-sites/assets/foundation.scss';
