<template>
	<div>
		<div id="map-container" ref='mapContainer'>
			<div class="spinner-border text-success m-5" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
		<div id="map-panel"></div>
	</div>
</template>

<script>
	import AMapLoader from '@amap/amap-jsapi-loader';
	export default {
		mounted() {
			let _this = this
			AMapLoader.load({
				"key": "1afaa61c9d277bbc4d0f3b44560d256c", // 申请好的Web端开发者Key，首次调用 load 时必填
				"version": "2.0", // 指定要加载的 JSAPI 的版本，缺省时默认为 1.4.15
				"plugins": [] //插件列表
			}).then((AMap) => {
				// console.log('19', _this);
				_this.AMap = AMap;
				_this.map = new AMap.Map('map-container', {
					center: server_config.geo_location.split(','),
					// mapStyle: "amap://styles/dark",
					zoom: 14,
					layers: [new AMap.TileLayer({}), new AMap.TileLayer.Traffic({
						'autoRefresh': true,
						'interval': 120
					}), new AMap.TileLayer.RoadNet()]
				});
				// _this.map.setFeatures(['bg', 'road', 'building']);
				AMap.plugin([
					'AMap.ToolBar',
					'AMap.Scale',
					'AMap.HawkEye',
					'AMap.MapType',
					// 'AMap.Geolocation',
				], function() {
					let map = _this.map;
					// 在图面添加工具条控件，工具条控件集成了缩放、平移、定位等功能按钮在内的组合控件
					map.addControl(new AMap.ToolBar({
						position: {
							top: '40px',
							left: '40px'
						}
					}));

					// 在图面添加比例尺控件，展示地图在当前层级和纬度下的比例尺
					map.addControl(new AMap.Scale());

					// 在图面添加鹰眼控件，在地图右下角显示地图的缩略图
					// map.addControl(new AMap.HawkEye({
					// 	opened: false,
					// 	mapStyle: 'amap://styles/dark'
					// }));

					// 在图面添加类别切换控件，实现默认图层与卫星图、实施交通图层之间切换的控制
					// map.addControl(new AMap.MapType({
					// 	showTraffic: true,
					// }));

					// 在图面添加定位控件，用来获取和展示用户主机所在的经纬度位置
					// map.addControl(new AMap.Geolocation());
				});
				// AMap.plugin('AMap.Geolocation',function(){
				// 	var geolocation = new AMap.Geolocation({});
				// 	this.map.addControl(geolocation);
				// });
				// _this.map = map
				// _this.$set('map', _this.map)
				// console.log('34:', _this.map)
				
				// const s = document.createElement('script');
				// s.type = 'text/javascript';
				// s.src = '//webapi.amap.com/ui/1.0/main.js';
				// document.body.appendChild(s);
				// _this.map.on('click', function(ev) {
				// 	// 触发事件的对象
				// 	  var target = ev.target;
					  
				// 	  // 触发事件的地理坐标，AMap.LngLat 类型
				// 	  var lnglat = ev.lnglat;
					  
				// 	  // 触发事件的像素坐标，AMap.Pixel 类型
				// 	  var pixel = ev.pixel;
					  
				// 	  // 触发事件类型
				// 	  var type = ev.type;
				// });
			}).catch(e => {
				console.log(e);
			})
			console.log('载入地图组件');
		},
		data() {
			return {
				// AMap: null,
				// map: null,
			}
		},
		computed: {
			commandName: function() {
				console.log('called');
				return this.$root.command;
			}
		},
		methods: {
			runCommand: function(newCommand, oldCommand) {
				if (newCommand == '') {
					return;
				}
				switch (newCommand.toLowerCase()) {
					case 'zoomin':
						this.zoomInMap();
						this.$root.command = ''
						break;
					case 'zoomout':
						this.zoomOutMap();
						this.$root.command = ''
						break;
					case 'tooffice1':
						this.calcDriving(0);
						this.$root.command = ''
						break;
					case 'fromoffice1':
						this.calcDriving(1)
						break;
					default:
						console.log('Unknown command', newCommand);
				}
			},
			calcDriving: function(index) {
				let map = this.map;
				let AMap = this.AMap;
				AMap.plugin('AMap.Driving', function() {
					var driving = new AMap.Driving({
						// 驾车路线规划策略，AMap.DrivingPolicy.LEAST_TIME是最快捷模式
						policy: AMap.DrivingPolicy.LEAST_TIME,
						map: map,
						panel: 'map-panel'
					})

					var points = [
						[
							[116.44030452, 39.87478848],
							[116.7303317800, 39.9001316000]
						],
						[
							[116.7303317800, 39.9001316000],
							[116.44030452, 39.87478848]
						],
					];

					driving.search(points[index][0], points[index][1]);
				})
			},
			zoomInMap: function() {
				let map = this.map;
				map.zoomIn()
			},
			zoomOutMap: function() {
				this.map.zoomOut()
			}
		},
		watch: {
			commandName: function(newVal, oldVal) {
				console.log('新命令触发', newVal)
				if (!this.map) {
					console.log('地图未准备好')
					return false;
				} else {
					this.runCommand(newVal, oldVal);
				}

			}
		},
	}
</script>

<style lang="scss">
	@import 'resources/sass/_variables.scss';

	#map-container {
		width: 112.5rem;
		height: 50rem;
	}
</style>
