<template>
	<div>
		<div v-if="busStops">
			<div class="row" v-for="(stop, id) in busStops">
				<div class="col">
					<div class="row">
						<h2>{{stop.name}}</h2>
					</div>
					<div class="row text-white-50" v-for="line in stop.lines" style="font-size: 2rem;">
						<div class="col">
							<div class="row">
								<div class="col-4" v-if="allBusStops[line.id]"><span class="text-light">{{allBusStops[line.id].line}}</span>(<span>{{allBusStops[line.id].name}}</span>)</div>
								<div class="col text-light" v-if="allBusStops[line.id]">{{busStatus[line.id].desc}}</div>
							</div>
							<!-- <div class="row" v-if="allBusStops[line.id]">
								<div class="col">
									<ul class="list-inline stop-name-list">
										<li class="list-inline-item stop-name" v-for="(stopName, stopId) in getStopsToShow(line.id)"><span>{{stopName}}</span></li>
									</ul>
								</div>
							</div> -->
						</div>
					</div>
				</div>
			</div>
			<div class="row text-white-50 justify-content-end">
				<div class="col text-right">
					数据更新于{{updated}}
				</div>
			</div>
		</div>
		<div v-else>
			<div class="spinner-border text-success m-5" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
		<iframe id="parse-iframe" width="0" height="0" style="display: none;"></iframe>
	</div>

</template>

<script>
	import Bus from '../config/bus.js';
	export default {
		data() {
			return {
				// iframe: null,
				busStops: [],
				allBusStops: {},
				busStatus: {},
				updated: null,
				// timer: null,
			}
		},
		mounted() {
			console.log('载入公交模块');
			let _this = this;
			Bus.bus_stops.forEach(function(value) {
				let lineIds = [];
				value.buses.forEach(function(line) {
					lineIds.push({
						id: line[0] + '-' + line[1] + '-' + line[2],
						start: line[3],
						end: line[4]
					});
				});
				_this.busStops.push({
					name: value.name,
					lines: lineIds,
				});
			});
			_this.updateAllBusStatus();
			console.log(_this.allBusStops, _this.busStops, _this.busStatus);
			//每分钟更新一次
			_this.timer = setInterval(() => {
				_this.updateAllBusStatus();
			}, 60000);
			this.$once('hook:beforeDestroy', () => {
				if (_this.timer) {
					clearInterval(_this.timer);
					_this.timer = null;
				}
			});
		},
		beforeDestroy() {
			if (this.timer) {
				clearInterval(this.timer);
				this.timer = null;
			}
		},
		methods: {
			getBusStatus: function(line, direction, stop) {
				let _this = this;
				let url = encodeURIComponent('http://www.bjbus.com/home/ajax_rtbus_data.php?act=busTime&selBLine=' + line +
					'&selBDir=' + direction + '&selBStop=' + stop);
				axios.get('/proxy/get?url=' + url).then(function(response) {
					_this.iframe = window.parent.frames[0].document;
					_this.iframe.body.innerHTML = response.data.html;
					let id = line + '-' + direction + '-' + stop;
					let t = _this.iframe.getElementById('cc_stop').getElementsByTagName('li');
					if (!_this.allBusStops[id]) {
						//记录所有站名
						// _this.allBusStops[id] = [];
						_this.$set(_this.allBusStops, id, {
							line: line,
							name: _this.iframe.getElementById('lm').innerText,
							stops: []
						}); //保持响应式
						[].forEach.call(t, function(line) {
							let div = line.firstChild;
							if (/^\d+$/.test(div.id)) {
								_this.allBusStops[id].stops.push({
									'id': div.id,
									'name': div.getElementsByTagName('span')[0].innerText
								});
							}
						});
						// _this.allBusStops[id] = _this.iframe.getElementsByTagName('article')[0].getElementsByTagName('p')[1].innerHTML;
					}
					//准备找到车子
					_this.$set(_this.busStatus, id, {
						desc: _this.iframe.getElementsByTagName('article')[0].getElementsByTagName('p')[1].innerText,
						busc: [], //在途中
						buss: [], //在站内
					});
					[].forEach.call(t, function(line) {
						let div = line.firstChild;
						if (/^\d+$/.test(div.id)) {
							let t_buss = div.getElementsByClassName('buss');
							// console.log(div, t_buss);
							let i = 0;
							while (i < t_buss.length) {
								_this.busStatus[id].buss.push(div.id);
								i++;
							}
						} else {
							let t_busc = div.getElementsByClassName('busc');
							let i = 0;
							while (i < t_busc.length) {
								_this.busStatus[id].busc.push(parseInt(div.id));
								i++;
							}
						}
					});
				}).catch(error => console.log(error));
				// console.log(_this.allBusStops);
			},
			updateAllBusStatus: function() {
				let _this = this;
				Bus.bus_stops.forEach(function(value) {
					value.buses.forEach(function(line) {
						_this.getBusStatus(line[0], line[1], line[2]);
					});
				});
				_this.updated = new Date().toLocaleString();
			},
			getStopsToShow: function(lineId) {
				let _this = this;
				if (!_this.allBusStops[lineId]) {
					return {};
				}
				let result = {};
				let stopId = lineId.split('-')[2];
				let stopIndex = 0;
				//首先找到这站
				_this.allBusStops[lineId].stops.every(function(stop, index) {
					if (stop.id == stopId) {
						stopIndex = index;
						return false;
					}
					return true;
				});
				//往前数10个，往后来5个
				let showStart = (stopIndex > 10) ? (stopIndex - 10) : 0;
				let showEnd = (_this.allBusStops[lineId].stops.length > (stopIndex + 5)) ? (stopIndex + 5) : _this.allBusStops[
					lineId].stops.length;
				let showStops = _this.allBusStops[lineId].stops.slice(showStart, showEnd);
				showStops.forEach(function(stop) {
					result[stop.id] = stop.name;
				});
				return result;
			},
			swipeLeft: function() {
				console.log('swiped!');
				// this.$root.comName = 'weather-component';
			}
		},
		computed: {
			getInfo: function() {
				if (this.iframe) {
					return this.iframe.getElementsByTagName('article')[0].getElementsByTagName('p')[1].innerHTML;
				}

			},
		}
	}
</script>

<style lang="scss">
	@import 'resources/sass/_variables.scss';

	.stop-name-list {
		height: 6.25rem;
		overflow: hidden;
	}

	.stop-name {
		// transform:rotate(-30deg);
		// -ms-transform:rotate(-30deg); /* Internet Explorer */
		// -moz-transform:rotate(-30deg); /* Firefox */
		// -webkit-transform:rotate(-30deg); /* Safari 和 Chrome */
		// -o-transform:rotate(-30deg); /* Opera */
		// padding-top: 2.5rem;
		width: 2.9375rem;
	}
</style>
