<template>
	<footer class="footer mt-auto fixed-bottom">
		<div>
			<div class="row justify-content-between">
				<div class="col-3 status" v-if="this.$root.server_status.load">
					<div>Up:{{this.$root.server_status.uptime}}, 于{{this.$root.server_status.server_time}}更新</div>
					<div>
						Load:{{this.$root.server_status.load[0]}}, {{this.$root.server_status.load[1]}},
						{{this.$root.server_status.load[2]}}
						<span v-if="this.$root.server_status.cpu">CPU:{{100 - this.$root.server_status.cpu.idle | roundFloat}}%</span>
					</div>
					<div v-if="this.$root.server_status.tasks">Tasks: {{this.$root.server_status.tasks['total']}},
						{{this.$root.server_status.tasks['running']}}, {{this.$root.server_status.tasks['sleeping']}}
						<span v-if="this.$root.server_status.cpu">CPU:{{this.$root.server_status.cpu.temperature | roundFloat}}℃</span>
					</div>
				</div>
				<div class="col text-right" v-if="sensors[0] && sensor_values">
					<div id="sensors_slide_footer" class="carousel slide" data-ride="carousel" data-interval="2000">
						<div class="carousel-inner">
							<div class="carousel-item" v-for="(sensor_value, index) in sensor_values" :class="index == 0 ? 'active' : ''">
								<span v-for="topicName in sensors[index]['showLevel'][1]">
									{{sensors[index].topics[topicName].name}}<span :class="sensor_values[index][sensors[index].topics[topicName].code] | colorful(sensors[index].topics[topicName].code)">{{sensor_values[index][sensors[index].topics[topicName].code]}}</span>{{sensors[index].topics[topicName].unit}}&nbsp;
								</span>
								<div class="mqtt_update">{{sensors[index].name}}传感器
									<span v-for="topicName in sensors[index]['showLevel'][2]">
										{{sensors[index].topics[topicName].name}}<span :class="sensor_values[index][sensors[index].topics[topicName].code] | colorful(sensors[index].topics[topicName].code)">{{sensor_values[index][sensors[index].topics[topicName].code]}}</span>{{sensors[index].topics[topicName].unit}}
									</span>
									最后更新<span :class="sensor_values[index].updated | colorful('updated')">{{sensor_values[index].updated}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</template>

<script>
	export default {
		mounted() {
			console.log('载入footer');
		},
		methods: {},
		computed: {
			sensors: function() {
				// console.log(this.$store.state.sensors);
				return this.$store.state.sensors;
			},
			sensor_values: function() {
				return this.$store.state.mqtt_data;
			}
		},
		filters: {
			colorful: function(value, type) {
				switch (type) {
					case 'temperature':
						return 'green';
						break;
					case 'humidity':
						if (value <= 40 || value >= 70) {
							return 'red';
						}
						return 'green';
						break;
					case 'co2':
						if (value >= 1000) {
							return 'red';
						} else if (value >= 600) {
							return 'yellow';
						}
						return 'green';
						break;
					case 'tvoc':
						if (value >= 100) {
							return 'red';
						} else if (value > 50) {
							return 'yellow';
						}
						return 'green';
						break;
					default:
						return 'green';
						break;
				}
			},
			roundFloat: function(value, digit = 2) {
				return parseFloat(value).toFixed(digit);
			}
		},
	}
</script>

<style lang="scss">
	@import 'resources/sass/_variables.scss';

	.blue {
		color: $blue;
	}

	.green {
		color: $green;
	}

	.red {
		color: $red;
	}

	.yellow {
		color: $yellow;
	}

	.footer {
		background-color: #303030;
	}

	.status {
		font-size: 0.75rem;
		// margin-top: -0.625rem;
		// margin-bottom: -0.625rem;
		color: #b3b3b3;
	}

	.mqtt_update {
		font-size: 0.6rem;
		// margin-bottom: -1rem;
		margin-right: 1rem;
		color: #b3b3b3;
	}
</style>
