<template>
	<header>
		<h1 v-if="showHeader"><big>{{msg_time}}</big>&nbsp;&nbsp;<small class="text-right">{{msg_date}}</small></h1>
		<div v-if="alarmMsg.length > 0" class="ml-auto" id="alarmDiv" :class="showHeader ? 'alarm-normal':'alarm-no-header'">
			<div class="card shadow-sm rounded border-light bg-transparent">
				<ul class="list-group list-group-flush">
					<li class="list-group-item" v-for="(msg, i) in alarmMsg" v-bind:class="'fade-bg-' + msg[0] + ' text-' + msg[0]">{{msg[1]}}</li>
				</ul>
			</div>
		</div>
	</header>
</template>

<script>
	import {
		mapMutations
	} from 'vuex'
	import mqtt from 'mqtt'
	import Sensor from '../config/sensors.js'
	export default {
		mounted() {
			let _this = this;
			_this.showCurrentTime();
			_this.timer = setInterval(() => {
				_this.showCurrentTime();
			}, 1000);
			_this.getWeather();
			_this.weatherTimer = setInterval(() => {
				_this.getWeather();
			}, 30000);
			_this.$once('hook:beforeDestroy', () => {
				if (_this.timer) {
					clearInterval(_this.timer);
					_this.timer = null;
				}
				if (_this.weatherTimer) {
					clearInterval(_this.weatherTimer);
					_this.weatherTimer = null;
				}
			});

			//获得传感器数据
			_this.sensors = Sensor.sensors();
			_this.alarms = Sensor.alarms;
			const client = mqtt.connect('mqtt://' + server_config.mqtt_server_host);
			_this.sensors.forEach(function(sensor, index) {
				let sensor_value = [];
				// console.log(sensor.topics);
				for (let topicName in sensor.topics) {
					client.subscribe(topicName, {
						qos: sensor.topics[topicName].qos
					});
					let code = sensor.topics[topicName].code;
					if (typeof(_this.sensor_values[index]) == 'undefined') {
						_this.$set(_this.sensor_values, index, {});
					}
					_this.$set(_this.sensor_values[index], code, '--');
				}
			});
			_this.storeSensorsToState(_this.sensors);
			client.subscribe('ESP32_1/countdown', {
				qos: 0
			});
			client.on('message', function(topic, message) {
				if (topic == 'ESP32_1/countdown') {
					//说明是countdown的，这个要写进localstorage
					let cdMsg = _this.$localStorage.get('mqtt_countdown');
					if (message == 'stop') {
						_this.$set(cdMsg, 'status', 'stopped');
					} else {
						//reset countdown
						let start = new Date().getTime();
						_this.$set(cdMsg, 'status', 'running');
						_this.$set(cdMsg, 'start_time', start)
						_this.$set(cdMsg, 'end_time', start + parseInt(message) * 1000)
					}
					_this.$localStorage.set('mqtt_countdown', cdMsg); //do we need this????
					return null;
				}
				// console.log('get message', topic);
				let topicOptions = null;
				let index = null;
				_this.sensors.some(function(sensor, _index) {
					let found = false;
					for (let topicName in sensor.topics) {
						if (topicName == topic) {
							found = true;
							index = _index;
							topicOptions = sensor.topics[topicName];
							break;
						}
					}
					return found;
				});
				if (index != null) {
					// console.log(index, topic);
					if (typeof _this.sensor_values[index] == 'undefined') {
						_this.$set(_this.sensor_values, index, {});
					}
					let value = message;
					if (typeof topicOptions.filter != 'undefined') {
						value = topicOptions.filter(value);
					}
					_this.$set(_this.sensor_values[index], topicOptions.code, value);
					_this.$set(_this.sensor_values[index], 'updated', new Date().toLocaleTimeString());
				} else {
					console.log('Unknown topic', topic); //不可能到这里
				}
				// console.log(_this.sensor_values);

				_this.storeSensorValuesToState(_this.sensor_values);
			});
		},
		data() {
			return {
				weather_data: null,
				msg_time: '',
				msg_date: '',
				// timer: null,//timer不需要响应
				sensor_values: [],
			}
		},
		methods: {
			...mapMutations({
				storeWeatherToState: 'weather',
				storeSensorsToState: 'sensor',
				storeSensorValuesToState: 'mqtt',
			}),
			showCurrentTime() {
				let dow = ["日", "一", "二", "三", "四", "五", "六"];
				let date = new Date();
				let h = date.getHours();
				h = h < 10 ? ('0' + h) : h;
				let m = date.getMinutes();
				m = m < 10 ? ('0' + m) : m;
				let s = date.getSeconds();
				s = s < 10 ? ('0' + s) : s;
				this.msg_time = h + ':' + m + ':' + s;
				this.msg_date = date.getFullYear() + '年' + (date.getMonth() + 1) + '月' + date.getDate() + '日' + ' 星期' + dow[date.getDay()];
				// this.message = date.toLocaleString() + ' 星期' + dow[date.getDay()];
			},
			getWeather() {
				let _this = this;
				axios.get('/api/weather').then(function(response) {
					let data = response.data;
					if (data.code == 0) {
						_this.weather_data = data.data;
						_this.storeWeatherToState(_this.weather_data);
						// console.log(data);
					} else {
						console.log('data with error code', data);
					}
				}).catch(error => console.log(error));
			},
		},
		beforeDestroy() {
			if (this.timer) {
				clearInterval(this.timer);
				this.timer = null;
			}
			if (this.weatherTimer) {
				clearInterval(this.weatherTimer);
				this.weatherTimer = null;
			}
		},
		computed: {
			alarmMsg: function() {
				let messages = [];
				let _this = this;
				if (_this.$store.state.mqtt_data) {
					let mqtt_data = _this.$store.state.mqtt_data;
					_this.sensors.forEach(function(sensor, index) {
						if (typeof(mqtt_data[index]) != 'undefined') {
							for (let topicName in sensor.topics) {
								let topicOptions = sensor.topics[topicName];
								let shouldAlarm = true;
								if (typeof(topicOptions.alarm) != 'undefined') {
									shouldAlarm = topicOptions.alarm;
								}
								if (shouldAlarm && typeof(_this.alarms.sensors[topicOptions.code]) == 'function') {
									let alarm = _this.alarms.sensors[topicOptions.code](mqtt_data[index][topicOptions.code], sensor.name);
									// console.log('alarm', alarm);
									if (typeof(alarm) != 'undefined') {
										messages.push(alarm);
									}

								}
							}

						}
					});
				}
				if (_this.$store.state.weather_data) {
					let weather_data = _this.$store.state.weather_data;
					for (let code in _this.alarms.weather.current) {
						let alarm = _this.alarms.weather.current[code](weather_data.current[code], weather_data);
						if (typeof(alarm) != 'undefined') {
							messages.push(alarm);
						}
					}
					// 	if (weather_data.current.ultraviolet_index > 6) {
					// 		_this.alertType = 'danger';
					// 		messages.push(['danger', '紫外线非常强，出门必须抹防晒！']);
					// 	} else if (weather_data.current.ultraviolet_index > 4) {
					// 		if (_this.alertType != 'danger') {
					// 			_this.alertType = 'warning';
					// 		}
					// 		messages.push(['warning', '紫外线很强，注意防晒！']);
					// 	}
					let alerts = weather_data.current.alerts;
					if (alerts) {
						alerts = JSON.parse(alerts);
					}
					if (alerts && alerts.length > 0) {
						// console.log(alerts)
						alerts.forEach(function(alert) {
							if (_this.alertType != 'danger') {
								_this.alertType = 'warning';
							}
							messages.push(['warning', alert.desc]);
						});
					}

				}
				return messages;
			},
			showHeader: function() {
				// console.log(this.$root.comName);
				if (this.$root.comName == 'home-component' || this.$root.comName == 'HomeComponent') {
					return false;
				}
				return true;
			}
		},
	}
</script>

<style lang="scss">
	@import 'resources/sass/_variables.scss';

	h1 big {
		color: $green;
	}

	header {
		margin: 0.9375rem;
		height: 3.5rem;
	}

	.fade-bg-info {
		background-color: rgba(108, 178, 235, 0.3)
	}

	.fade-bg-warning {
		background-color: rgba(255, 237, 74, 0.3)
	}

	.fade-bg-danger {
		background-color: rgba(197, 31, 26, 0.3)
	}

	#app {
		cursor: none;
	}

	.alarm-normal {
		margin-top: -4.75rem;
		margin-right: 0rem;
		max-width: 35rem;
	}

	.alarm-no-header {
		margin-top: 0rem;
		margin-right: 0rem;
		max-width: 35rem;
	}
</style>
