<template>
	<div id="homeDiv">
		<div v-if="currentTime.date">
			<div id="timeDiv">{{currentTime.time}}</div>
			<div id="dateDiv"><span class="border-bottom border-dark">{{currentTime.date}}</span></div>
		</div>
		<div v-if="weatherData" class="border-bottom border-dark">
			<div class="row">
				<div class="col-1">
					<div class="row">
						<div class="col text-center" v-if="getIconName(weatherData.current.skycon)">
							<div>
								<img :src="'css/images/weather_animated_icons/' + getIconName(weatherData.current.skycon)" :title="weatherData.current.skycon_name"
								 style="height:10rem;" />
							</div>
							<div style="font-size: 2rem;">{{weatherData.current.skycon_name}}</div>
						</div>
						<div class="col text-center" v-else>{{weatherData.current.skycon_name}}</div>
					</div>
				</div>
				<div class="col-2 text-white-50">
					<div class="text-center"><span class="text-danger" style="font-size: 5rem;"><big>{{weatherData.current.apparent_temperature}}</big></span>℃</div>
					<div class="row">
						<div class="col text-center">
							<span :class="weatherData.current.comfort_index < 4 ? 'text-danger' : (weatherData.current.comfort_index > 6 ? 'text-primary' : 'text-success')"
							 style="font-size: 4rem;">{{weatherData.current.comfort_name}}</span>
						</div>
						<div class="col">
							<div>温度<span class="text-success"><big>{{weatherData.current.temperature}}</big></span>℃</div>
							<div>湿度：<span :class="weatherData.current.humidity < 0.4 ? 'text-warning' : (weatherData.current.humidity > 0.6 ? 'text-primary' : 'text-success')"><big>{{(weatherData.current.humidity * 100).toFixed(2)}}</big></span>%</div>
							<div><span class="text-light">{{getWindLevel(weatherData.current.wind_speed)[1]}}
									<big>{{weatherData.current.wind_speed}}</big></span>km/h</div>
							<div>紫外线：<span :class="weatherData.current.ultraviolet_index < 4 ? 'text-success' : (weatherData.current.ultraviolet_index < 8 ? 'text-warning' : 'text-danger')"><big>{{weatherData.current.ultraviolet_name}}</big></span></div>
						</div>
					</div>
				</div>
				<div class="col-3 text-white-50">
					<div style="font-size: 2rem;color: #C6C8CA;" class="row">
						<div>{{weatherData.current.minutely_description}}</div>
						<div>{{weatherData.current.hourly_description}}</div>
					</div>
					<div style="font-size: 1.8rem;" class="text-center row"><span class="text-light">{{weatherData.current.wind_direction_name}}风</span>
						<span class="text-light">{{getWindLevel(weatherData.current.wind_speed)[0]}}</span>级</div>
					<div style="font-size: 1.8rem;" class="row">空气质量<span :class="getAQILevel(weatherData.current.aqi_cn)[3]">{{weatherData.current.aqi_cn_name}}<sub>({{weatherData.current.aqi_cn}})</sub></span></div>
					<div>PM2.5:<span :class="weatherData.current.aqi_pm25 < 50 ? 'text-success' : (weatherData.current.aqi_pm25 < 100 ? 'text-primary' : (weatherData.current.aqi_pm25 < 200 ? 'text-warning' : 'text-danger'))">{{weatherData.current.aqi_pm25}}</span></div>
					<div>PM10:<span :class="getAQILevel(weatherData.current.aqi_pm10)[3]">{{weatherData.current.aqi_pm10}}</span></div>
				</div>
				<div class="col">
					<div class="row">
						<div v-bind:class="i == 0 ? 'col text-center' : 'col text-center border-left border-dark'" v-for="(item, i) in weatherData.future">
							<div class="row">
								<div class="col pl-1 pr-1 pb-2">
									<strong>{{item.date}}</strong>&nbsp;<small>星期{{item.date | getDowByDate}}</small>
								</div>
							</div>
							<div class="row future-weather-detail">
								<div class="col text-center">
									白天<span>{{item.skycon_day_name}}</span>，夜间<span>{{item.skycon_night_name}}</span>
								</div>
							</div>
							<div class="row future-weather-detail">
								<div class="col text-center pl-1 pr-1 border-right border-dark">
									<div class="row">
										<div class="col text-center" v-if="getIconName(item.skycon)">
											<img :src="'css/images/weather_animated_icons/' + getIconName(item.skycon)" :title="item.skycon_name" style="width: 4rem;height:4rem;" />
										</div>
										<div class="col text-center" v-else>{{item.skycon_name}}</div>
									</div>
									<div>{{item.skycon_name}}</div>
									<div>{{item.wind_direction_name_avg}}风{{getWindLevel(item.wind_speed_avg)[0]}}级</div>
									<div><span :class="item.comfort_index < 4 ? 'text-danger' : (item.comfort_index > 6 ? 'text-primary' : 'text-success')">{{item.comfort_name}}</span></div>
								</div>
								<div class="col pl-1 pr-1 text-center text-white-50">
									<div>最高<span class="text-danger">{{item.temperature_max}}</span>°C</div>
									<div>最低<span class="text-success">{{item.temperature_min}}</span>°C</div>
									<div>风力最大<span class="text-danger">{{getWindLevel(item.wind_speed_max)[0]}}</span>级</div>
									<div>风力最小<span class="text-success">{{getWindLevel(item.wind_speed_min)[0]}}</span>级</div>
									<div>空气质量<span :class="getAQILevel(item.aqi_avg)[3]">{{getAQILevel(item.aqi_avg)[1]}}</span></div>
									<div>紫外线<span :class="item.ultraviolet_index < 4 ? 'text-success' : (item.ultraviolet_index < 8 ? 'text-warning' : 'text-danger')">{{item.ultraviolet_name}}</span></div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 		<div v-if="weatherData">
			<div class="row">
				<div class="col-1 pr-1 pl-1">
					<div class="row">
						<div class="col text-center" v-if="getIconName(weatherData.current.skycon)">
							<img :src="'css/images/weather_animated_icons/' + getIconName(weatherData.current.skycon)" :title="weatherData.current.skycon_name"
							 style="width: 6.875rem;height:6.875rem;" />
						</div>
						<div class="col text-center" v-else>{{weatherData.current.skycon_name}}</div>
					</div>
				</div>
				<div class="col-1 text-white-50 pr-1 pl-1">
					<div>体感<span class="text-danger"><big>{{weatherData.current.apparent_temperature}}</big></span>℃</div>
					<div>温度<span class="text-success"><big>{{weatherData.current.temperature}}</big></span>℃</div>
					<div>舒适指数：<span :class="weatherData.current.comfort_index < 4 ? 'text-danger' : (weatherData.current.comfort_index > 6 ? 'text-primary' : 'text-success')">{{weatherData.current.comfort_name}}</span></div>
					<div>湿度：<span :class="weatherData.current.humidity < 0.4 ? 'text-warning' : (weatherData.current.humidity > 0.6 ? 'text-primary' : 'text-success')">{{(weatherData.current.humidity * 100).toFixed(2)}}</span>%</div>
				</div>
				<div class="col-1 text-white-50 pr-1 pl-1">
					<div><span class="text-light">{{weatherData.current.wind_direction_name}}风</span> <span class="text-light">{{getWindLevel(weatherData.current.wind_speed)[0]}}</span>级</div>
					<div>PM2.5:<span :class="weatherData.current.aqi_pm25 < 50 ? 'text-success' : (weatherData.current.aqi_pm25 < 100 ? 'text-primary' : (weatherData.current.aqi_pm25 < 200 ? 'text-warning' : 'text-danger'))">{{weatherData.current.aqi_pm25}}</span></div>
					<div>PM10:<span :class="getAQILevel(weatherData.current.aqi_pm10)[3]">{{weatherData.current.aqi_pm10}}</span></div>
					<div><span class="text-light">{{getWindLevel(weatherData.current.wind_speed)[1]}} {{weatherData.current.wind_speed}}</span>km/h</div>
				</div>
				<div class="col-1 text-white-50 pr-1 pl-1">
					<div>空气：<span :class="getAQILevel(weatherData.current.aqi_cn)[3]">{{weatherData.current.aqi_cn_name}}<sub>({{weatherData.current.aqi_cn}})</sub></span></div>
					<div>紫外线：<span :class="weatherData.current.ultraviolet_index < 4 ? 'text-success' : (weatherData.current.ultraviolet_index < 8 ? 'text-warning' : 'text-danger')">{{weatherData.current.ultraviolet_name}}</span></div>
				</div>
				<div class="col">
					{{weatherData.current.minutely_description}}<br />
					{{weatherData.current.hourly_description}}
				</div>
			</div>
		</div> -->
		<div v-if="sensor_values">
			<div v-for="(sensor, index) in sensors" class="row">
				<div class="col-1 text-right" style="font-size: 2rem;">{{sensor.name}}</div>
				<div class="col align-text-bottom flex-xs-bottom">
					<span v-for="topicName in sensor['showLevel'][1]" style="font-size: 1.3rem;">
						{{sensor.topics[topicName].name}}<span :class="sensor_values[index][sensor.topics[topicName].code] | colorful(sensor.topics[topicName].code)">{{sensor_values[index][sensor.topics[topicName].code]}}</span>{{sensor.topics[topicName].unit}}&nbsp;
					</span>
					<span v-for="topicName in sensor['showLevel'][2]" style="font-size: 0.8rem;">
						{{sensor.topics[topicName].name}}<span :class="sensor_values[index][sensor.topics[topicName].code] | colorful(sensor.topics[topicName].code)">{{sensor_values[index][sensor.topics[topicName].code]}}</span>{{sensor.topics[topicName].unit}}
					</span>
					<span style="font-size: 0.8rem;">最后更新<span :class="sensor_values[index].updated | colorful('updated')">{{sensor_values[index].updated}}</span></span>
				</div>
			</div>
		</div>
		<div v-if="countdownMsg">
			<div>倒计时剩余：</div>
			<div class="text-center" style="font-size: 9rem;color:#00ff7f">{{countdownMsg}}</div>
		</div>
	</div>
</template>

<script>
	import weatherMethods from '../common/WeatherMethods.vue';
	export default {
		mixins: [weatherMethods],
		data() {
			return {
				currentTime: {
					time: null,
					date: null,
				},
				countdownMsg: null,
			}
		},
		mounted() {
			let _this = this;
			_this.showCurrentTime();
			_this.timer = setInterval(() => {
				_this.showCurrentTime();
			}, 1000);
			_this.checkCountDown();
			_this.countdownTimer = setInterval(() => {
				_this.checkCountDown();
			}, 200);
			_this.$once('hook:beforeDestroy', () => {
				if (_this.timer) {
					clearInterval(_this.timer);
					_this.timer = null;
				}
				if (_this.countdownTimer) {
					clearInterval(_this.countdownTimer);
					_this.countdownTimer = null;
				}
			});


		},
		computed: {
			weatherData: function() {
				return this.$store.state.weather_data;
			},
			sensors: function() {
				// console.log(this.$store.state.sensors);
				return this.$store.state.sensors;
			},
			sensor_values: function() {
				// console.log(this.$store.state.mqtt_data);
				return this.$store.state.mqtt_data;
			}
		},
		methods: {
			showCurrentTime() {
				let dow = ["日", "一", "二", "三", "四", "五", "六"];
				let date = new Date();
				let h = date.getHours();
				h = h < 10 ? ('0' + h) : h;
				let m = date.getMinutes();
				m = m < 10 ? ('0' + m) : m;
				let s = date.getSeconds();
				s = s < 10 ? ('0' + s) : s;
				this.currentTime.time = h + ':' + m + ':' + s;
				this.currentTime.date = date.getFullYear() + '年' + (date.getMonth() + 1) + '月' + date.getDate() + '日' + '星期' + dow[
					date.getDay()];
				// this.message = date.toLocaleString() + ' 星期' + dow[date.getDay()];
			},
			checkCountDown: function() {
				let _this = this;
				//检查倒计时
				let cdMsg = _this.$localStorage.get('mqtt_countdown');
				if (cdMsg.status == 'running') {
					let now = new Date().getTime();
					if (cdMsg.end_time <= now) {
						//说明倒计时已经结束
						if((now - cdMsg.end_time) < 60000) {
							_this.countdownMsg = '时间到！倒计时结束';
						} else {
							let time_left = now - cdMsg.end_time;
							time_left = parseInt(time_left / 1000);
							let hours = parseInt(time_left / 3600);
							if (hours < 10) {
								hours = '0' + hours;
							}
							let mins = parseInt((time_left - hours * 3600) / 60);
							mins = mins < 10 ? '0' + mins : mins;
							let secs = time_left - hours * 3600 - mins * 60;
							secs = secs < 10 ? '0' + secs : secs;
							_this.countdownMsg = '-' + hours + ':' + mins + ':' + secs;
						}
						
						if (_this.countdownMusicPlay == false) {
							_this.countdownMusicPlay = true;
							console.log('fire once!');
							let audio = new Audio();
							audio.src = '/media/countdownend.mp3';
							audio.play();
						}
						//显示半个小时然后清除
						if (now - cdMsg.end_time > 1800000) {
							_this.countdownMsg = null;
						}
					} else {
						let time_left = cdMsg.end_time - now;
						time_left = parseInt(time_left / 1000);
						let hours = parseInt(time_left / 3600);
						if (hours < 10) {
							hours = '0' + hours;
						}
						let mins = parseInt((time_left - hours * 3600) / 60);
						mins = mins < 10 ? '0' + mins : mins;
						let secs = time_left - hours * 3600 - mins * 60;
						secs = secs < 10 ? '0' + secs : secs;
						_this.countdownMsg = hours + ':' + mins + ':' + secs;
						_this.countdownMusicPlay = false;
					}
				} else if (cdMsg.status == 'stopped') {
					_this.countdownMsg = null;
				} else {
					_this.countdownMsg = null;
				}
			}
		},
		beforeDestroy() {
			if (this.timer) {
				clearInterval(this.timer);
				this.timer = null;
			}
			if (this.countdownTimer) {
				clearInterval(this.countdownTimer);
				this.countdownTimer = null;
			}
		},
		filters: {
			colorful: function(value, type) {
				switch (type) {
					case 'temperature':
						return 'green';
						break;
					case 'humidity':
						if (value <= 40 || value >= 70) {
							return 'red';
						}
						return 'green';
						break;
					case 'co2':
						if (value >= 1000) {
							return 'red';
						} else if (value >= 600) {
							return 'yellow';
						}
						return 'green';
						break;
					case 'tvoc':
						if (value >= 100) {
							return 'red';
						} else if (value > 50) {
							return 'yellow';
						}
						return 'green';
						break;
					case 'status':
						if (value == 'offline') {
							return 'red';
						}
						break;
					default:
						return 'green';
						break;
				}
				return 'green';
			},
			getDowByDate: function(value) {
				let dow = ["日", "一", "二", "三", "四", "五", "六"];
				return dow[new Date(value).getDay()];
			},
			// watch: {
			// 	countdownMsg: {
			// 		handler(newVal, oldVal) {
			// 			if (newVal == '时间到！倒计时结束') {
			// 				console.log('fire once!');
			// 			} else {}
			// 		}
			// 	}
			// }
		}
	}
</script>

<style>
	#homeDiv {
		margin-top: -8rem;
	}

	#timeDiv {
		font-size: 12rem;
		height: 13rem;
	}

	#dateDiv {
		font-size: 5rem;
		height: 6.5rem;
	}
</style>
