<template>
	<div>
		<div v-if="data">
			<div class="row">
				<div class="col-1 pr-1 pl-1">
					<div class="row">
						<div class="col text-center" v-if="getIconName(data.current.skycon)">
							<img :src="'css/images/weather_animated_icons/' + getIconName(data.current.skycon)" :title="data.current.skycon_name"
							 style="width: 6.875rem;height:6.875rem;" />
						</div>
						<div class="col text-center" v-else>{{data.current.skycon_name}}</div>
					</div>
				</div>
				<div class="col-1 text-white-50 pr-1 pl-1">
					<div>体感<span class="text-danger"><big>{{data.current.apparent_temperature}}</big></span>℃</div>
					<div>温度<span class="text-success"><big>{{data.current.temperature}}</big></span>℃</div>
					<div>舒适指数：<span :class="data.current.comfort_index < 4 ? 'text-danger' : (data.current.comfort_index > 6 ? 'text-primary' : 'text-success')">{{data.current.comfort_name}}</span></div>
					<div>湿度：<span :class="data.current.humidity < 0.4 ? 'text-warning' : (data.current.humidity > 0.6 ? 'text-primary' : 'text-success')">{{(data.current.humidity * 100).toFixed(2)}}</span>%</div>
				</div>
				<div class="col-1 text-white-50 pr-1 pl-1">
					<div><span class="text-light">{{data.current.wind_direction_name}}风</span> <span class="text-light">{{getWindLevel(data.current.wind_speed)[0]}}</span>级</div>
					<div>PM2.5:<span :class="data.current.aqi_pm25 < 50 ? 'text-success' : (data.current.aqi_pm25 < 100 ? 'text-primary' : (data.current.aqi_pm25 < 200 ? 'text-warning' : 'text-danger'))">{{data.current.aqi_pm25}}</span></div>
					<div>PM10:<span :class="getAQILevel(data.current.aqi_pm10)[3]">{{data.current.aqi_pm10}}</span></div>
					<div><span class="text-light">{{getWindLevel(data.current.wind_speed)[1]}} {{data.current.wind_speed}}</span>km/h</div>
				</div>
				<div class="col-1 text-white-50 pr-1 pl-1">
					<div>空气：<span :class="getAQILevel(data.current.aqi_cn)[3]">{{data.current.aqi_cn_name}}<sub>({{data.current.aqi_cn}})</sub></span></div>
					<div>紫外线：<span :class="data.current.ultraviolet_index < 4 ? 'text-success' : (data.current.ultraviolet_index < 8 ? 'text-warning' : 'text-danger')">{{data.current.ultraviolet_name}}</span></div>
				</div>
				<div class="col">
					{{data.current.minutely_description}}<br />
					{{data.current.hourly_description}}
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="row">
						<div v-bind:class="i == 0 ? 'col text-center' : 'col text-center border-left border-dark'" v-for="(item, i) in data.future">
							<!-- <div class="col text-center border-left" v-for="item in data.future"> -->
							<div class="row">
								<div class="col pl-1 pr-1 pb-2">
									<strong>{{item.date}}</strong>&nbsp;<small>星期{{item.date | getDowByDate}}</small>
								</div>
							</div>
							<div class="row future-weather-detail">
								<div class="col text-center">
									白天<span>{{item.skycon_day_name}}</span>，夜间<span>{{item.skycon_night_name}}</span>
								</div>
							</div>
							<div class="row future-weather-detail">
								<div class="col text-center pl-1 pr-1 border-right border-dark">
									<div class="row">
										<div class="col text-center" v-if="getIconName(item.skycon)">
											<img :src="'css/images/weather_animated_icons/' + getIconName(item.skycon)" :title="item.skycon_name" style="width: 4rem;height:4rem;" />
										</div>
										<div class="col text-center" v-else>{{item.skycon_name}}</div>
									</div>
									<div>{{item.skycon_name}}</div>
									<div>{{item.wind_direction_name_avg}}风{{getWindLevel(item.wind_speed_avg)[0]}}级</div>
									<div><span :class="item.comfort_index < 4 ? 'text-danger' : (item.comfort_index > 6 ? 'text-primary' : 'text-success')">{{item.comfort_name}}</span></div>
								</div>
								<div class="col pl-1 pr-1 text-center text-white-50">
									<div>最高<span class="text-danger">{{item.temperature_max}}</span>°C</div>
									<div>最低<span class="text-success">{{item.temperature_min}}</span>°C</div>
									<div>风力最大<span class="text-danger">{{getWindLevel(item.wind_speed_max)[0]}}</span>级</div>
									<div>风力最小<span class="text-success">{{getWindLevel(item.wind_speed_min)[0]}}</span>级</div>
									<div>空气质量<span :class="getAQILevel(item.aqi_avg)[3]">{{getAQILevel(item.aqi_avg)[1]}}</span></div>
									<div>紫外线<span :class="item.ultraviolet_index < 4 ? 'text-success' : (item.ultraviolet_index < 8 ? 'text-warning' : 'text-danger')">{{item.ultraviolet_name}}</span></div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-3 pl-2 pr-2" id="echarts-future">未来5天天气预报</div>
				<div class="col-3 pl-2 pr-2" id="echarts-future-aqi">未来5天空气质量预报</div>
			</div>
			<div class="row">
				<div class="col" id="echarts-hour">未来48小时天气</div>
			</div>
			<div class="row">
				<div class="col" id="echarts-rain">未来两小时降雨量</div>
			</div>
			<div class="row">
				<div class="col text-right weather-updated">数据更新于{{data.current.timestamp | timestampToDateTime}}</div>
			</div>
		</div>
		<div v-else>
			<div class="spinner-border text-success m-5" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
	</div>
</template>

<script>
	import {
		mapMutations
	} from 'vuex'
	// import echarts from 'echarts'
	import echarts from 'echarts/lib/echarts'
	require('echarts/lib/chart/line');
	require('echarts/lib/component/tooltip');
	require('echarts/lib/component/title');
	require('echarts/lib/component/toolbox');
	require('echarts/lib/component/timeline');
	require('echarts/lib/component/markPoint');
	require('echarts/lib/component/legend');
	import weatherMethods from '../common/WeatherMethods.vue'
	export default {
		mixins: [weatherMethods],
		mounted() {
			console.log('载入天气组件')
			//请求得到当前天气
			let _this = this;
			if (this.$store.state.weather_data) {
				let data = this.$store.state.weather_data;
				//强行修改timestamp好触发watch
				_this.$set(data, 'timestamp', parseInt(new Date().getTime() / 1000));
				_this.storeToState(data);
			} else {
				_this.getWeather();
			}
		},
		computed: {
			data() {
				return this.$store.state.weather_data;
			}
		},
		data() {
			return {
				// data: null,
				timer: null,
				charts: {},
				chart_default_option: {
					title: {
						textStyle: {
							color: 'rgba(128, 128, 128, 0.5)',
						}
					},
					xAxis: {
						axisLine: {
							lineStyle: {
								color: '#cecece',
							}
						},
						minInterval: 1,
						boundaryGap: false,
						data: [],
						axisLabel: {
							interval: 0,
						}
					},
					yAxis: {
						axisLine: {
							lineStyle: {
								color: '#cecece',
							}
						},
						splitLine: {
							lineStyle: {
								color: '#333',
							}
						},
						scale: true,
					},
					tooltip: {
						formatter: '{b} {c}'
					},
				},
			}
		},
		methods: {
			...mapMutations({
				storeToState: 'weather'
			}),
			getWeather() {
				let _this = this;
				axios.get('/api/weather').then(function(response) {
					let data = response.data;
					if (data.code == 0) {
						// _this.data = data.data;
						_this.storeToState(_this.data);
						// console.log(data, _this.data);
					} else {
						console.log('data with error code', data);
					}
				}).catch(error => console.log(error));
			},
			getServerDate: function() {
				if (this.data.current) {
					// console.log('here');
					return new Date(this.data.current.timestamp * 1000);
				} else {
					return new Date();
				}
			},
			getNext48Hours: function(alwaysWithDate = false) {
				//获得当前小时时间戳
				let date = this.getServerDate();
				let h = date.getHours();
				let d = date.getDate();
				let m = date.getMonth() + 1;
				let result = [];
				let i = 0;
				while (i < 48) {
					h++;
					if (h > 23) {
						h = 0;
						date.setDate(d + 1);
						m = date.getMonth() + 1;
						d = date.getDate();
					}
					if (alwaysWithDate) {
						result.push(m + '月' + d + '日' + h.toString() + "时");
					} else {
						if (h == 0) {
							result.push(d + '日' + h.toString() + "时");
						} else {
							result.push(h.toString() + "时");
						}

					}
					i++;
				}
				// console.log(result);
				return result;
			},
			get5MinsOfNext2Hours: function() {
				let date = this.getServerDate();
				let m = date.getMinutes();
				let h = date.getHours();
				let result = [];
				let i = 0;
				let t = '';
				while (i < 24) {
					if (m > 59) {
						m = 0;
						h++;
						if (h > 23) {
							h = 0;
						}
					}
					if (h < 10) {
						t = '0' + h.toString();
					} else {
						t = h.toString();
					}
					t += ':';
					if (m < 10) {
						t += '0' + m.toString();
					} else {
						t += m.toString();
					}
					result.push(t);
					m += 5;
					i++;
				}
				// console.log(result);
				return result;
			},
			get5days: function() {
				let date = this.getServerDate();
				var result = [(date.getMonth() + 1) + '月' + date.getDate() + '日'];
				let i = 1;
				while (i < 5) {
					date.setDate(date.getDate() + 1);
					result.push((date.getMonth() + 1) + '月' + date.getDate() + '日');
					i++;
				}
				return result;
			},
		},
		beforeDestroy() {
			if (this.timer) {
				clearInterval(this.timer);
				this.timer = null;
			}
		},
		filters: {
			timestampToDateTime: function(value) {
				let date = new Date(value * 1000);
				let y = date.getFullYear();
				let MM = date.getMonth() + 1;
				MM = MM < 10 ? ('0' + MM) : MM;
				let d = date.getDate();
				d = d < 10 ? ('0' + d) : d;
				let h = date.getHours();
				h = h < 10 ? ('0' + h) : h;
				let m = date.getMinutes();
				m = m < 10 ? ('0' + m) : m;
				let s = date.getSeconds();
				s = s < 10 ? ('0' + s) : s;
				return y + '-' + MM + '-' + d + ' ' + h + ':' + m + ':' + s
			},
			getDowByDate: function(value) {
				let dow = ["日", "一", "二", "三", "四", "五", "六"];
				return dow[new Date(value).getDay()];
			},
			displayIcon: function(value, alt) {
				if (value) {
					return '<img src="' + value + '" alt="' + alt + '" />';
				} else {
					return '<span>' + alt + '</span>';
				}
			},
			toWindLevel: function(value, _this) {
				let level = _this.getWindLevel(value);
				console.log(value, level);
				return level[0] + '级 ' + level[1];
			}
		},
		watch: {
			data: {
				handler(newVal, oldVal) {
					let _this = this;
					if (newVal == null) {
						console.log('没有获得新数据');
						return;
					}
					console.log('watch called');
					console.log(newVal, oldVal);
					if (oldVal == null || (newVal.current.timestamp != oldVal.current.timestamp) || typeof(newVal.timestamp) !=
						'undefined') {
						//说明数据有更新，重绘echarts表格
						console.log("数据有变化")
						_this.$nextTick(() => {
							//先初始化图表
							if (!_this.charts.rain) {
								//创建降雨图表
								_this.charts.rain = echarts.init(document.getElementById('echarts-rain'));
								_this.charts.rain.setOption(_this.chart_default_option);
								_this.charts.rain.setOption({
									title: {
										text: '未来两小时降水量',
									},
									xAxis: {
										data: _this.get5MinsOfNext2Hours(),
									},
									yAxis: {
										name: '降水量',
										axisLabel: {
											formatter: '{value}mm'
										},
									},
									series: [{
										name: "降水量",
										type: 'line',
										data: []
									}],
									tooltip: {
										formatter: '{b} {c}mm'
									},
								});
								window.addEventListener("resize", () => {
									_this.charts.rain.resize();
								});
							}

							if (!_this.charts.hour) {
								//未来48小时
								_this.charts.hour = echarts.init(document.getElementById('echarts-hour'));
								_this.charts.hour.setOption({
									baseOption: _this.chart_default_option
								});
								_this.charts.hour.setOption({
									baseOption: {
										timeline: {
											axisType: 'category',
											show: true,
											autoPlay: true,
											playInterval: 10000,
											data: ['温度', '风速', 'AQI', 'PM2.5', '降水量'],
											label: {
												formatter: function(s) {
													// console.log(s);
													return s;
												}
											}
										},
										xAxis: {
											type: 'category',
											data: _this.getNext48Hours(),
											axisLabel: {
												interval: 0,
											}
										},
										series: [{
											type: 'line',
											markPoint: {
												symbol: 'pin',
												symbolSize: 40,
												data: [{
														type: 'max',
														name: '最大值'
													},
													{
														type: 'min',
														name: '最小值'
													}
												],
												label: {
													formatter: function(params) {
														// console.log(_this.charts.hour.getOption().xAxis[0].data[params.data.coord[0]]);
														// console.log(params);
														return _this.getNext48Hours(true)[params.data.coord[0]] + "\n" + params.name + ' ' + params.value;
													}
												}
											},
										}]
									}
								})
								_this.charts.hour.setOption({
									options: [{
											title: {
												text: "未来48小时温度"
											},
											yAxis: {
												name: '温度',
											},
											series: [{
												name: "温度",
												type: 'line',
												data: []
											}]
										},
										{
											title: {
												text: "未来48小时风速"
											},
											yAxis: {
												name: '风速',
											},
											series: [{
												name: "风速",
												type: 'line',
												data: []
											}]
										},
										{
											title: {
												text: "未来48小时AQI"
											},
											yAxis: {
												name: 'AQI',
											},
											series: [{
												name: "AQI",
												type: 'line',
												data: []
											}]
										},
										{
											title: {
												text: "未来48小时PM2.5"
											},
											yAxis: {
												name: 'PM2.5',
											},
											series: [{
												name: "PM2.5",
												type: 'line',
												data: []
											}]
										},
										{
											title: {
												text: "未来48小时降水量"
											},
											yAxis: {
												name: '降水量',
											},
											series: [{
												name: "降水量",
												type: 'line',
												data: []
											}]
										}
									]
								});
								window.addEventListener("resize", () => {
									_this.charts.hour.resize();
								});
							}
							if (!_this.charts.future) {
								//未来5天气温走向
								_this.charts.future = echarts.init(document.getElementById('echarts-future'));
								_this.charts.future.setOption(_this.chart_default_option);
								_this.charts.future.setOption({
									legend: {
										show: true,
									},
									xAxis: {
										// data: _this.get5days().concat(['']),
										data: _this.get5days(),
									},
									yAxis: {
										type: 'value',
										axisLabel: {
											formatter: '{value}°C'
										}
									},
									tooltip: {
										formatter: '{b} {c}°C'
									},
									series: [{
											name: '最高气温',
											type: 'line',
											data: [],
											markPoint: {
												symbol: 'pin',
												symbolSize: 30,
												data: [{
														type: 'max',
														name: '最大值'
													},
													{
														type: 'min',
														name: '最小值'
													}
												]
											},
											// markLine: {
											// 	data: [{
											// 		type: 'max',
											// 		name: '最大'
											// 	}]
											// }
										},
										{
											name: '最低气温',
											type: 'line',
											data: [],
											markPoint: {
												symbol: 'arrow',
												symbolSize: 20,
												data: [{
														type: 'max',
														name: '最大值'
													},
													{
														type: 'min',
														name: '最小值'
													}
												]
											},
										},
										{
											name: '平均气温',
											type: 'line',
											data: [],
											// markPoint: {
											// 	symbol: 'diamond',
											// 	symbolSize: 20,
											// 	data: [{
											// 			type: 'max',
											// 			name: '最大值'
											// 		},
											// 		{
											// 			type: 'min',
											// 			name: '最小值'
											// 		}
											// 	]
											// },
										}
									]
								});
								window.addEventListener("resize", () => {
									_this.charts.future.resize();
								});
							}

							if (!_this.charts.future_aqi) {
								//未来5天气温走向
								_this.charts.future_aqi = echarts.init(document.getElementById('echarts-future-aqi'));
								_this.charts.future_aqi.setOption(_this.chart_default_option);
								_this.charts.future_aqi.setOption({
									legend: {
										show: true,
									},
									xAxis: {
										type: 'category',
										boundaryGap: false,
										data: _this.get5days().concat(['']),
									},
									yAxis: {
										type: 'value',
										axisLabel: {
											formatter: '{value}'
										}
									},
									tooltip: {
										formatter: '{b} {c}'
									},
									series: [{
											name: '最高AQI',
											type: 'line',
											data: [],
											markPoint: {
												symbol: 'pin',
												symbolSize: 30,
												data: [{
														type: 'max',
														name: '最大值'
													},
													{
														type: 'min',
														name: '最小值'
													}
												]
											},
										},
										{
											name: '最低AQI',
											type: 'line',
											data: [],
											markPoint: {
												symbol: 'arrow',
												symbolSize: 20,
												data: [{
														type: 'max',
														name: '最大值'
													},
													{
														type: 'min',
														name: '最小值'
													}
												]
											},
										},
										{
											name: '平均AQI',
											type: 'line',
											data: [],
										}
									]
								});
								window.addEventListener("resize", () => {
									_this.charts.future_aqi.resize();
								});
							}
							//处理数据
							let temp = JSON.parse(newVal.current.precipitation_by_mins);
							//每隔5分钟显示一个数字，和屏幕分辨率有关
							let i = 0;
							let final = [];
							while (i < 24) {
								let j = i * 5;
								// console.log(temp[j]);
								final[i] = {
									value: (temp[j] * 100).toFixed(2),
									symbolSize: 6,
									label: {
										show: true,
										color: (temp[j] > 0) ? '#FFF' : '#00aa00'
									},
									itemStyle: {}
								};
								i++;
							}
							// console.log(final)
							_this.charts.rain.setOption({
								xAxis: {
									data: _this.get5MinsOfNext2Hours(),
								},
								series: [{
									data: final,
								}]
							});

							//未来48小时
							temp = {
								'temp': JSON.parse(newVal.current.temperature_by_hours),
								'wind': JSON.parse(newVal.current.wind_speed_by_hours),
								'aqi': JSON.parse(newVal.current.aqi_by_hours),
								'pm25': JSON.parse(newVal.current.aqi_pm25_by_hours),
								'precipitation': JSON.parse(newVal.current.precipitation_by_hours)
							};
							final = {
								'temp': [],
								'wind': [],
								'aqi': [],
								'pm25': [],
								'precipitation': []
							}
							i = 0;
							while (i < temp.temp.length) {
								final.temp[i] = {
									value: temp.temp[i],
									label: {
										show: true
									}
								};
								final.wind[i] = {
									value: temp.wind[i],
									label: {
										show: true
									}
								};
								final.aqi[i] = {
									value: temp.aqi[i],
									label: {
										show: true
									}
								};
								final.pm25[i] = {
									value: temp.pm25[i],
									label: {
										show: true
									}
								};
								final.precipitation[i] = {
									value: temp.precipitation[i],
									label: {
										show: true
									}
								};
								i++;
							}
							_this.charts.hour.setOption({
								baseOption: {
									xAxis: {
										data: _this.getNext48Hours(),
									}
								}
							});
							_this.charts.hour.setOption({
								options: [{
										title: {
											text: "未来48小时温度"
										},
										yAxis: {
											name: '温度',
											axisLabel: {
												formatter: '{value}°C'
											},
										},
										series: [{
											name: "温度",
											type: 'line',
											data: final.temp,
										}]
									},
									{
										title: {
											text: "未来48小时风速"
										},
										yAxis: {
											name: '风速',
											axisLabel: {
												formatter: '{value}km/h'
											},
										},
										series: [{
											name: "风速",
											type: 'line',
											data: final.wind,
										}]
									},
									{
										title: {
											text: "未来48小时AQI"
										},
										yAxis: {
											name: 'AQI',
											axisLabel: {
												formatter: '{value}'
											},
										},
										series: [{
											name: "AQI",
											type: 'line',
											data: final.aqi
										}]
									},
									{
										title: {
											text: "未来48小时PM2.5"
										},
										yAxis: {
											name: 'PM2.5',
											axisLabel: {
												formatter: '{value}'
											},
										},
										series: [{
											name: "PM2.5",
											type: 'line',
											data: final.pm25
										}]
									},
									{
										title: {
											text: "未来48小时降水量"
										},
										yAxis: {
											name: '降水量',
											axisLabel: {
												formatter: '{value}mm'
											},
										},
										series: [{
											name: "降水量",
											type: 'line',
											data: final.precipitation
										}]
									}
								]
							});

							//未来5天气温
							final = {
								'temp_max': [],
								'temp_min': [],
								'temp_avg': [],
								'aqi_max': [],
								'aqi_min': [],
								'aqi_avg': []
							};
							i = 0;
							while (i < newVal.future.length) {
								final.temp_max[i] = {
									value: newVal.future[i].temperature_max,
									label: {
										show: true
									}
								};
								final.temp_min[i] = {
									value: newVal.future[i].temperature_min,
									label: {
										show: true
									}
								};
								final.temp_avg[i] = {
									value: newVal.future[i].temperature_avg,
									label: {
										show: true
									}
								};
								final.aqi_max[i] = {
									value: newVal.future[i].aqi_max,
									label: {
										show: true
									}
								};
								final.aqi_min[i] = {
									value: newVal.future[i].aqi_min,
									label: {
										show: true
									}
								};
								final.aqi_avg[i] = {
									value: newVal.future[i].aqi_avg,
									label: {
										show: true
									}
								};
								i++;
							}
							_this.charts.future.setOption({
								xAxis: {
									data: _this.get5days(),
								},
								series: [{
									name: '最高气温',
									data: final.temp_max,
								}, {
									name: '最低气温',
									data: final.temp_min,
								}, {
									name: '平均气温',
									data: final.temp_avg,
								}, ],
							});
							_this.charts.future_aqi.setOption({
								xAxis: {
									data: _this.get5days(),
								},
								series: [{
									name: '最高AQI',
									data: final.aqi_max,
								}, {
									name: '最低AQI',
									data: final.aqi_min,
								}, {
									name: '平均AQI',
									data: final.aqi_avg,
								}, ],
							});
						});
					}
				},
				deep: true
			}
		},
	}
</script>

<style>
	#echarts-rain {
		width: auto;
		height: 12.5rem;
	}

	#echarts-hour {
		height: 14.5rem;
	}

	#echarts-future {
		height: 18rem;
	}

	.weather-updated {
		font-size: 0.6rem;
		margin-top: -1rem;
		color: #b3b3b3;
	}

	.future-weather-detail {
		font-size: 0.9rem;
	}
</style>
