<template>
</template>

<script>
	import Countdown from '../config/countdown.js'
	const localstorage_key_countdowns = 'countdowns';
	export default {
		mounted() {
			let _this = this;
			_this.$localStorage.addProperty(localstorage_key_countdowns, Object);//注意这句必须要有，否则不会自己转化object和string
			_this.$root.sockets.subscribe('countdowns', function(data) {
				_this.countdownData = $.parseJSON(data);
				//如果没问题，要写入localstorage
				let cdMsg = _this.$localStorage.get(localstorage_key_countdowns);
				// console.log(cdMsg);
				if (typeof cdMsg == 'undefined' || cdMsg == null) {
					cdMsg = {};
				}
				for (let code in _this.countdownData) {
					let data = _this.countdownData[code];
					let offset = (new Date().getTime()) - data.now * 1000;
					if (typeof cdMsg[code] == 'undefined') {
						_this.$set(cdMsg, code, {});
					}
					//adjust countdown
					_this.$set(cdMsg[code], 'status', data.status);
					_this.$set(cdMsg[code], 'start_time', data.start_time * 1000 + offset)
					_this.$set(cdMsg[code], 'end_time', data.end_time * 1000 + offset)
					_this.$set(cdMsg[code], 'offset', offset); //初始化offset设为0
				}
				// console.log(cdMsg);
				_this.$localStorage.set(localstorage_key_countdowns, cdMsg);
			});
		},
		data() {
			return {
				countdownData: null,
				countdown_msgs: null,
			}
		},
		methods: {
			checkCountDown: function() {
				let _this = this;
				//检查倒计时
				let cdMsg = _this.$localStorage.get(localstorage_key_countdowns);
				// console.log(cdMsg);
				for (let code in cdMsg) {
					let countdownMsg = null;
					if (cdMsg[code].status == 'running') {
						let now = new Date().getTime();
						if (cdMsg[code].end_time <= now) {
							//说明倒计时已经结束
							countdownMsg = '时间到！倒计时结束';
							//显示半个小时然后清除
							if (now - cdMsg[code].end_time > 1800000) {
								//从localstorage中删除
								delete cdMsg[code];
								_this.$localStorage.set(localstorage_key_countdowns, cdMsg);
								countdownMsg = null;
							}
						} else {
							let time_left = cdMsg[code].end_time - now;
							time_left = parseInt(time_left / 1000);
							let hours = parseInt(time_left / 3600);
							if (hours < 10) {
								hours = '0' + hours;
							}
							let mins = parseInt((time_left - hours * 3600) / 60);
							mins = mins < 10 ? '0' + mins : mins;
							let secs = time_left - hours * 3600 - mins * 60;
							secs = secs < 10 ? '0' + secs : secs;
							countdownMsg = hours + ':' + mins + ':' + secs;
						}
					// } else if (cdMsg[code].status == 'stopped') {
					// 	countdownMsg = null;
					// } else {
					// 	countdownMsg = null;
					}
					if (_this.countdown_msgs == null) {
						_this.countdown_msgs = {};
					}
					if (countdownMsg) {
						// console.log(countdownMsg);
						_this.$set(_this.countdown_msgs, code, countdownMsg);
					}
				}
			},
		},
	}
</script>

<style>
</style>
